# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
build/
dist/
.eggs/

# venv / uv
.venv/
venv/
.python-version

# dokumentacja (MkDocs build)
site/

# testy / narzędzia
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/
.mypy_cache/

# IDE / OS
.idea/
.vscode/
.DS_Store
